doctype html
html(lang='en')
    head
        title Smart Words
        link(rel="stylesheet", href="../stylesheets/style.css")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rancho', type='text/css')
        meta(charset='UTF-8')
        meta(name='description', content='Smart Words is online game which allows you to enhance your knowledge and outlook by searching famous quotations, sayings and puzzles')
        meta(name='keywords', content='game, quotations, sayings, puzzles, knowledge, brain activity')
        script(type='text/javascript', src='../javascripts/jquery-latest.min.js')
    body
        .wrapper
            header
                .row
                    .header-logo
                        a.smart-words(href='#')
                            img.smart-word-logo(src='../images/smart-words-logo.png')
            .content
                .categories.row
                    .choose-categories
                        a.category(href='levels?category=puzzles')
                            br
                            | Puzzles
                        a.category(href='levels?category=sayings')
                            br
                            | Proverbs & Sayings
                        a.category(href='levels?category=quotations')
                            br
                            | Quotations
                    .category-desc
                        h2 Puzzles
                        p Puzzles are an important tool in the development of thinking. Solving puzzles is a kind of challage for the mind.A lot of observation and ability to analyze required in order tocorrectly guess the answer. In turn, the puzzles are training intelligence,flexibility of thinking and forcing to look at things from different angles.

                        h2 Sayings
                        p Learning English would not be complete without exploring the folk artwhich are English proverbs and sayings. After all saying - is not just a shortsentence expressing the opinion of the individual, it is the people's mind,the short folk assessment of any act and event in the life and in general anything. Therefore we have gathered here many English proverbs and sayings.

                        h2 Quotes
                        p In this category we have gathered a quotations of the great and famous people about life, love, money, success, dreams and more. There you will also meet the gold reserves of the English language, a storehouse of folk wisdom. We found for you serious and funny Quotes, because laughter and humour help us to live, making us happier and kinder. Moreover quotations will enlarge your outlook and maturity.

            .push
        footer
            .copyright
                p © 2015 WebandWeb.