doctype html
html(lang='en')
    head
        title Smart Words
        link(rel="stylesheet", href="../stylesheets/style.css")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rancho', type='text/css')
        meta(charset='UTF-8')
        meta(name='description', content='Smart Words is online game which allows you to enhance your knowledge and outlook by searching famous quotations, sayings and puzzles')
        meta(name='keywords', content='game, quotations, sayings, puzzles, knowledge, brain activity')
        script(type='text/javascript', src='../javascripts/jquery-latest.min.js')
        script(type='text/javascript', src='../javascripts/login.js')
    body
        #fb-root
        .wrapper
            header
                .row
                    .header-logo
                        a.smart-words(href='#')
                            img.smart-word-logo(src='../images/smart-words-logo.png')
            .content
                .login.row
                    p  This website devoted to the study of English. If you want to improve your English daily exercise!
                        | Nowadays, the importance of learning English as relevant as ever! Every day general
                        | globalization and the demand for English as in everyday and business communication is growing rapidly.
                        | You might have different purposes: socializing with friends abroad,
                        | travel around the world or simply broaden your horizons,
                        | you may need English for watching TV, movies and sports broadcasts.
                        | All of the above proves that English is becoming the most important means
                        | of communication in the world.
                    p
                        | In case you do not agree with the asnwers and questions or
                        | if you noticed errors, typos then you are welcome to write us.
                        | Thus the helpful criticism will let us improve our project.
                        | Do not forget to indicate the authorship of the text and translation.
                    .social-login-links
                        fb:login-button#fb-native(scope='public_profile,email', onlogin='checkLoginState();')
                            |   Login with Facebook
                .screens.row
                    .screen-1
                        img(src='../images/screenshots/small-1.jpg')
                    .screen-1
                        img(src='../images/screenshots/small-2.jpg')
                    .screen-1
                        img(src='../images/screenshots/small-3.jpg')
            .push
        footer
            .copyright
                p © 2015 WebandWeb.