doctype html
html(lang='en')
    head
        title Smart Words
        link(rel="stylesheet", href="../stylesheets/style.css")
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Rancho', type='text/css')
        meta(charset='UTF-8')
        meta(name='description', content='Smart Words is online game which allows you to enhance your knowledge and outlook by searching famous quotations, sayings and puzzles')
        meta(name='keywords', content='game, quotations, sayings, puzzles, knowledge, brain activity')
        script(type='text/javascript', src='../javascripts/jquery-latest.min.js')
        script(type='text/javascript', src='../javascripts/login.js')
    body
        #fb-root
        .wrapper
            header
                .row
                    .header-logo
                        a.smart-words(href='#')
                            img.smart-word-logo(src='../images/smart-words-logo.png')
            .content
                .login.row
                    p
                        | Nullam commodo at turpis ac venenatis. Fusce id ligula eros. Sed quis ex in turpis sagittis aliquet. In nunc libero, varius non eros eget, pharetra maximus urna. Nam ut tortor euismod, tristique augue suscipit, convallis orci. Donec facilisis id neque ut feugiat.
                    .social-login-links
                        fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
                            |   Login with Facebook

                .screens.row
                    .screen-1
                        img(src='../images/screenshots/small-1.jpg')
                    .screen-1
                        img(src='../images/screenshots/small-2.jpg')
                    .screen-1
                        img(src='../images/screenshots/small-3.jpg')
            .push
        footer
            .copyright
                p © 2015 WebandWeb.