table
    thead
        tr
            th
                | Username
            th
                |   Rate
    tbody
        each val in users
            tr
                td
                    |   #{val.username}
                td
                    |   #{val.rate}